@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,500,500i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext");

@font-face {
  font-family: 'museo_sans';
  src: url("./../../fonts/museosans_500-webfont.woff2") format("woff2"), url("./../../fonts/museosans_500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo_sans';
  src: url("./../../fonts/museosans_500_italic-webfont.woff2") format("woff2"), url("./../../fonts/museosans_500_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'museo_sans';
  src: url("./../../fonts/museosanscyrl_500-webfont.woff2") format("woff2"), url("./../../fonts/museosanscyrl_500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
