.btn {
   display: inline-block;
   color: #0f5a47;
   border: 1px solid #fff;
   font-family: "Alegreya Sans";
   font-size: 19px;
   font-weight: 800;
   text-transform: uppercase;
   text-decoration: none;
   background-color: #ffffff;
   border-radius: 40px;
   padding: 16px 34px;
   cursor: pointer;
   transition: 0.2s;

   &:hover {
      border: 1px solid #0f5a47;
   }
}

.btn--color {
   color: #fff;
   border: 1px solid #0f5a47;
   background-color: #0f5a47;

   &:hover {
      border: 1px solid #fff;
   }
}