.contacts {
   display: flex;
   flex-direction: column;
}

.contacts__addres {
   color: #010101;
   font-size: 21px;
   line-height: 23.82px;
   }

.contacts__phone {
   color: #0f5a47;
   font-style: 21px;
}
