.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 24px 0;
   margin-bottom: 66px;
}

.header__buttons {
   display: flex;
   align-items: center;
   justify-content: center;
}