.logo {
  display: block;
  width: 53px;
  height: 38px;
  color: #ffffff;
  font-family: "museo_sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 21px;
  text-transform: uppercase; }
