.menu {
   background-image: url('./../images/bg-menu.png');
   background-size: cover;
   color: #fff;
   position: relative;
}


.title--menu {
   font-size: 48px;
	position: absolute;
	top: 10%;
	left: 10%;
}

