.nav__list {
   display: flex;
   align-items: center;
}

.nav__item {
   margin-right: 30px;

   &:last-child {
      margin-right: 0px;
   }

  
}


.nav__link {
   color: #ffffff;
   font-family: "Alegreya Sans";
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   text-decoration: none;
   transition: 0.3s;

   &:hover {
      color: black;
   }
}

