.pagination {
   position: fixed;
   top: 32.8%;
   right: 46px;
}

.pagination__link {
   display: block;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   margin-bottom: 5px;
   position: relative;

   &::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #f2f5f4;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
   }

   &:hover {
      border: 1px solid #ccc;
   }
}

.pagination__item--active {

   .pagination__link {
      border: 1px solid #f2f5f4;
   }   
}