.container--reviews {
   justify-content: center;
   align-items: center;
   position: relative;

   &:before {
      content: url('../../images/berries-review_top.png');
      position: absolute;
      top: 19px;
      right: 3px;
   }

   &:after {
      content: url('../../images/berries-review_bottom.png');
      position: absolute;
      bottom: -128px;
      left: -80px;
   }
}

.title--reviews {
   color: #0d0d0d;
   font-size: 48px;
   margin-bottom: 59px;
}


