.review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.review-list__item {
  margin-right: 32px; }
  .review-list__item:last-child {
    margin-right: 0; }

.review-list__pic {
  overflow: hidden;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  border: 8px solid #ffffff; }

.review-list__pic--active {
  border: 8px solid #0f5a47; }

.review-list__pic-brunette {
  display: block;
  margin: 0 auto;
  width: 100%; }

.review-list__pic-redhead {
  display: block;
  margin: 0 auto;
  width: 100%; }

.review-list__pic-guy {
  display: block;
  margin: 0 auto;
  width: 100%; }
