.review-list {
   display: flex;
   justify-content: center;
}

.review-list__item {
   margin-right: 29px;

   &:last-child {
      margin-right: 0;
   }
}

.review-list__pic {
   overflow: hidden;
   width: 105px;
   height: 105px;
   border-radius: 50%;
   border: 8px solid #ffffff;
}

.review-list__pic--active {
   border: 8px solid #0f5a47;
}

@each $revpic in (brunette, redhead, guy) {
   .review-list__pic-#{$revpic} {
      display: block;
      margin: 0 auto;
      width: 100%;
   }
}

